name: pull-request-validation

on:
  pull_request:
    branches:
      - "*"

jobs:
  commit-lint:
    name: Lint Commit Messages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Node.js and NPM
        uses: actions/setup-node@v4
        with:
          node-version: "14"

      - name: Install commitlint
        run: npm install -g @commitlint/cli@11.0.0 @commitlint/config-conventional@11.0.0

      - name: Run commitlint
        run: commitlint -x @commitlint/config-conventional --from=${{ github.event.pull_request.base.sha }} --to=${{ github.event.pull_request.head.sha }}

  swift-lint:
    name: SwiftLint
    runs-on: macos-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install SwiftLint
      run: brew install swiftlint

    - name: Run SwiftLint
      run: swiftlint lint --strict Sources Tests/MockableTests
  
  linux-tests:
    name: Build and Test on Linux
    uses: swiftlang/github-workflows/.github/workflows/swift_package_test.yml@main
    with:
      enable_windows_checks: false
      linux_env_vars: |
        MOCKABLE_LINT=false
        MOCKABLE_TEST=true

  macOS-tests:
    name: Build and Test on macos-latest
    runs-on: macos-latest
    env:
      MOCKABLE_LINT: false
      MOCKABLE_TEST: true
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Swift Version
        run: |
          swift -version
      - name: Run Tests
        run: |
          swift build && swift test